.App {
  text-align: center;
}

.click {
  background-color: brown;
  border: 2px solid black;
  width: 150px;
  margin: auto;
}

.hover {
  background-color: aqua;
  border: 2px solid black;
  width: 150px;
  margin: auto;
}
